@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");
body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(../images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: "Red Hat Display", sans-serif;
  width: 1440px;
}

p {
  font-weight: 600;
  font-size: 16px;
}

.box {
  background-color: #fff;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.image img {
  width: 100%;
  object-fit: fill;
}

.box-body {
  margin: 45px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-body h1 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
  margin: 0;
  font-size: 24px;
}

.box-body p {
  color: hsl(224, 23%, 55%);
  font-weight: 500;
  line-height: 1.5;
}

.plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 0;
  padding: 22px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 6px;
}

.plans img {
  width: 50px;
}

.price h2 {
  margin: 0;
  color: hsl(223, 47%, 23%);
  font-size: 16px;
}

.plans p {
  margin: 0;
}

.price {
  padding-right: 70px;
}

.price h2,
.price p {
  margin-left: 0;
  text-align: left;
}

.plans a {
  font-weight: 700;
  color: hsl(245, 75%, 52%);
  font-size: 16px;
}

.plans a:hover {
  text-decoration: none;
  cursor: pointer;
}

.proceed {
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  border: hidden;
  border-radius: 6px;
  padding: 15px;
  margin: 25px 0 10px 0;
  font-weight: 700;
  box-shadow: 0px 14px 17px 0px rgba(115, 129, 168, 0.31);
  cursor: pointer;
}

.cancel {
  background-color: transparent;
  color: hsl(224, 23%, 55%);
  border: hidden;
  border-radius: 6px;
  padding: 15px;
  margin: 10px 0 0px 0;
  font-weight: 700;
  cursor: pointer;
}

@media only screen and (max-width: 375px) {
  body {
    background-image: url(../images/pattern-background-mobile.svg);
  }

  .box {
    width: 92%;
  }

  p {
    font-size: 14px;
  }

  .box-body {
    margin: 18px;
  }

  .plans h2 {
    font-size: 18px;
  }

  .plans a {
    font-size: 16px;
  }

  .proceed {
    margin: 0;
  }

  .price {
    padding-right: 5%;
  }
}
